@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>JSON Binding</title>

   
    @*<link href="http://localhost:42277/Content/CSS/jquery-ui.css" rel="stylesheet" />

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>*@
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script src="http://localhost:42277/Scripts/jquery.simple.timer.js"></script>

    <style>
        input[type='radio'] {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border: 1px solid darkgray;
            border-radius: 50%;
            outline: none;
            box-shadow: 0 0 5px 0px gray inset;
        }

            input[type='radio']:hover {
                box-shadow: 0 0 5px 0px orange inset;
            }

            input[type='radio']:before {
                content: '';
                display: block;
                width: 60%;
                height: 60%;
                margin: 20% auto;
                border-radius: 50%;
            }

            input[type='radio']:checked:before {
                background: green;
            }
    </style>
</head>
<body>
    <div style="width: 80%; min-width: 210px;">
        <div id="chart"></div>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div><br />
    
    <div>
        <input type="radio" class="rd1" />
        <input type="radio" class="rd2" />
        <input type="radio" class="rd3" />
        <input type="radio" class="rd4" />
        <input type="radio" class="rd5" />
        <input type="radio" class="rd6" /><br />
        <div> <input type="button" id="btnRdlCountIncrees" value="+" /><input type="button" id="btnRdlCountDecress" value="-" /></div>

    </div><br />

    <div>
        <textarea id="myTa" rows="4" cols="50"></textarea>
        <input type="button" id="btnText" value="Get Text Area Value" /><br />
    </div><br />
   
    @*Graph Code*@
    <script>

        $(function () {

            var dataa = [
                ["QueryBuilder", 45],
                ["ABC", 15],
                ["TestScreen", 25]
            ];

            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'World\'s largest cities per 2014'
                },
                subtitle: {
                    text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Population (millions)'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'Population in 2008: <b>{point.y:.1f} millions</b>'
                },
                series: [{
                    name: 'Population',
                    data: dataa,
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.1f}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                }]
            });



        });
    </script>




    @*Timer and Textarea Selection*@
    <script>
        var start;
        var end;
        $(function () {

            var interval;
            interval = setInterval(function () {

                var timer = $('#sp1').html();
                timer = timer.split(':');
                var minutes = parseInt(timer[0], 10);
                var seconds = parseInt(timer[1], 10);
                seconds -= 1;
                if (minutes < 0) return clearInterval(interval);
                if (minutes < 10 && minutes.length != 2) minutes = '0' + minutes;
                if (seconds < 0 && minutes != 0) {
                    minutes -= 1;
                    seconds = 59;
                }
                else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;
                $('#sp1').html(minutes + ':' + seconds);


                if (minutes == 0 && seconds == 0)
                    clearInterval(interval);
            }, 1000);




            $('#btncheck').click(function () {


                clearInterval(interval);
                $('#sp1').html('2:10');
                interval = setInterval(function () {
                    var timer = $('#sp1').html();
                    timer = timer.split(':');
                    var minutes = parseInt(timer[0], 10);
                    var seconds = parseInt(timer[1], 10);
                    seconds -= 1;
                    if (minutes < 0) return clearInterval(interval);
                    if (minutes < 10 && minutes.length != 2) minutes = '0' + minutes;
                    if (seconds < 0 && minutes != 0) {
                        minutes -= 1;
                        seconds = 59;
                    }
                    else if (seconds < 10 && length.seconds != 2) seconds = '0' + seconds;
                    $('#sp1').html(minutes + ':' + seconds);
                    if (minutes == 0 && seconds == 0)
                        clearInterval(interval);
                }, 1000);



            });

            $('#btnText').click(function () {
                var a = wrapText("myTa");
                alert(a);
                //for select the select data again
                $("#myTa")[0].setSelectionRange(start, end);
            });

            $("#myTa").on("keydown", function (event) {
                if (event.which == 120) {
                    var a = wrapText("myTa");
                    alert(a);
                    //alert(event.type + ": " + event.which);
                }
            });
        });
        function wrapText(elementID) {

            var textArea = $('#' + elementID);
            var len = textArea.val().length;
            start = textArea[0].selectionStart;
            end = textArea[0].selectionEnd;
            var selectedText = textArea.val().substring(start, end);
            if (selectedText != "") {
                return selectedText;
            }
            else {
                return textArea.val();
            }

        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            var count = 1;
            $('#btnRdlCountDecress').css("display", "none");

            $('.rd1').prop("checked", true);
            $('#btnRdlCountIncrees').click(function () {
                count++;
                if (count == 2) {
                    $('.rd1,.rd2').prop("checked", true);
                    // $('rd2').prop("checked", true);
                    $('#btnRdlCountDecress').css("display", "block");
                }
                if (count == 3) {
                    $('.rd1,.rd2,.rd3').prop("checked", true);

                }
                if (count == 4) {
                    $('.rd1,.rd2,.rd3,.rd4').prop("checked", true);

                }
                if (count == 5) {
                    $('.rd1,.rd2,.rd3,.rd4,.rd5').prop("checked", true);

                }
                if (count == 6) {
                    $('.rd1,.rd2,.rd3,.rd4,.rd5,.rd6').prop("checked", true);
                    $('#btnRdlCountIncrees').css("display", "none");
                }


            });


            $('#btnRdlCountDecress').click(function () {
                count--;
                if (count == 1) {
                    $('.rd2,.rd3,.rd4,.rd5,.rd6').prop("checked", false);
                    $('#btnRdlCountDecress').css("display", "none");
                    // $('rd2').prop("checked", true);

                }
                if (count == 2) {
                    $('.rd3,.rd4,.rd5,.rd6').prop("checked", false);
                    // $('rd2').prop("checked", true);

                }
                if (count == 3) {
                    $('.rd4,.rd5,.rd6').prop("checked", false);

                }
                if (count == 4) {
                    $('.rd5,.rd6').prop("checked", false);

                }
                if (count == 5) {
                    $('.rd6').prop("checked", false);
                    $('#btnRdlCountIncrees').css("display", "block");
                }



            });

        });


    </script>
</body>
</html>
