@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

<script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.js" type="text/javascript"></script>

<h2>Query Builder</h2>

<div>
    <div>
        <select id="ddlDataBase">
            <option value="test"> test</option>
        </select>
    </div>   <br />
    <textarea id="txtQuery" rows="4" style="width:100%;max-width: 1000px"></textarea> <br /><br />
    @*<input type="button" id="btnExecute" value="Execute" />*@
    <button type="button" id="btnExecute" data-loading-text="Executing..." class="btn btn-primary" autocomplete="off">
        Execute
    </button>
    <button type="button" id="myButton" data-loading-text="Prossecing..." style="display:none" class="btn btn-primary" autocomplete="off">
        Loading state
    </button>

    <button id="btnTestLoader" data-loading-text="Loading..." style="display:none">Execute<img src="~/Images/loader.gif" style="height:20px;width:20px" id="imgloader" /> </button>


    <div id="tabContainer" style="width:100%; height:600px;">

    </div>


</div>


<script>
    $(function () {
        $('#imgloader').hide();
        $('#btnTestLoader').click(function () {

            $('#imgloader').show();
            $('#btnTestLoader').prop('disabled', true);
            setTimeout(function () {

                $('#imgloader').hide();
                $('#btnTestLoader').prop('disabled', false);
            }, 5000);

        });



    });

    $('#myButton').on('click', function () {
        debugger;

        var $btn = $(this).button('loading');


        setTimeout(function () {
            $btn.button('reset');

        }, 5000);
        // business logic...

    })
</script>
<script type="text/javascript">
    var start;
    var end;
    $(function () {
       
        //var dataObject = eval('[{"COLUMNS":[{ "title": "NAME"}, { "title": "COUNTY"}],"DATA":[["John Doe","Fresno"],["Billy","Fresno"],["Tom","Kern"],["King Smith","Kings"]]}]');
        //var columns = [];
        //$('#example').dataTable({
        //    "data": dataObject[0].DATA,
        //    "columns": dataObject[0].COLUMNS
        //});


        $('#btnExecute').click(function () {
                
            if ($('#txtQuery').val() == '') {
                return;
            }
            var selectedQuery = wrapText("txtQuery");
           
          // $('#btnExecute').button('loading');
         //   var $btn = $('#btnExecute');
            debugger;
            var Data1 = {
                databaseName: $('#ddlDataBase').val(),
                query: selectedQuery
            };
            callajax(Data1);
           
            //$('#btnExecute').button('reset');
           // alert('Complete');
        });

       

        $("#txtQuery").on("keydown", function (event) {
            if (event.which == 120) {
                var selectedQuery = wrapText("txtQuery");
                var Data1 = {
                    databaseName: $('#ddlDataBase').val(),
                    query: selectedQuery
                };
                callajax(Data1);

            }
        });

    });
    function wrapText(elementID) {

        var textArea = $('#' + elementID);
        var len = textArea.val().length;
        start = textArea[0].selectionStart;
        end = textArea[0].selectionEnd;
        var selectedText = textArea.val().substring(start, end);
        if (selectedText != "") {
            return selectedText;
        }
        else {
            return textArea.val();
        }

    }
    function callajax(data1) {
    
        $.ajax({
            type: "GET", 		//GET or POST or PUT or DELETE verb
            url: "/QueryBuilder/ExecuteQuery", 		// Location of the service
            data: data1, 		//Data sent to server
            contentType: "",		// content type sent to server
            dataType: "json", 	//Expected data format from server
            processdata: true, 	//True or False
            //Dasync:false,
            beforeSend: function () {
                $('#btnExecute').button('loading');
            },
            success: function (json) {//On Successful service call
                debugger;
                CreateTable(JSON.parse(json));
                //setTimeout( )
                $('#btnExecute').button('reset');
                $("#txtQuery")[0].setSelectionRange(start, end);
            },
            error: function (err) {
                debugger;
                $('#btnExecute').button('reset');
            },
        });
    }


    function CreateTable(data) {
        debugger;
        //create tabs
        $("#tabContainer").html('');
        for (var i = 0; i < data.length; i++) {

            //create table inside tab
            $("#tabContainer").append('<table cellpadding="0" cellspacing="0" border="0" class="display" id="' + data[i].tableName + '"></table><br /><br />');

            //bind table
            var dataObject = data[i];
            $('#' + dataObject.tableName).dataTable({
                "data": dataObject.data,
                "columns": dataObject.columns
            });
        }



    }
</script>