.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.904297;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-1.092000px;}
._1{width:1.864000px;}
._4{width:3.448000px;}
._0{width:37.700000px;}
._3{width:43.300000px;}
._5{width:395.380000px;}
.fc2{color:rgb(155,47,155);}
.fc1{color:rgb(64,64,64);}
.fc3{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs2{font-size:40.000000px;}
.fsa{font-size:56.000000px;}
.fs9{font-size:63.360001px;}
.fs6{font-size:72.000000px;}
.fs8{font-size:80.000000px;}
.fs7{font-size:82.000000px;}
.fs5{font-size:96.000000px;}
.fs4{font-size:98.000000px;}
.fs1{font-size:144.000000px;}
.fs3{font-size:176.000000px;}
.fs0{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y73{bottom:6.493516px;}
.y4c{bottom:23.468460px;}
.y72{bottom:24.743516px;}
.y4{bottom:31.816446px;}
.y2a{bottom:39.304520px;}
.y71{bottom:42.993516px;}
.y19{bottom:52.216339px;}
.y4b{bottom:59.388474px;}
.y29{bottom:60.904518px;}
.y70{bottom:61.243516px;}
.y3{bottom:63.773224px;}
.y10{bottom:66.296356px;}
.y6f{bottom:79.493516px;}
.y28{bottom:82.504517px;}
.y5d{bottom:85.257874px;}
.y4a{bottom:85.308487px;}
.y18{bottom:88.136353px;}
.yf{bottom:92.216370px;}
.y6e{bottom:97.743516px;}
.y27{bottom:104.104515px;}
.y5c{bottom:106.857849px;}
.y2{bottom:106.973225px;}
.y49{bottom:111.228500px;}
.y6d{bottom:115.993516px;}
.y17{bottom:124.056366px;}
.ye{bottom:128.136383px;}
.y3d{bottom:131.722183px;}
.y6c{bottom:134.243516px;}
.y5f{bottom:136.539994px;}
.y5b{bottom:138.457855px;}
.y26{bottom:140.174599px;}
.y48{bottom:147.148514px;}
.y60{bottom:150.640000px;}
.y3c{bottom:153.322205px;}
.yd{bottom:154.056381px;}
.y16{bottom:159.976379px;}
.y6b{bottom:160.000000px;}
.y25{bottom:161.774597px;}
.y61{bottom:168.640000px;}
.y5a{bottom:170.057861px;}
.y47{bottom:173.068527px;}
.y3b{bottom:174.922211px;}
.y24{bottom:183.374596px;}
.y62{bottom:185.640000px;}
.yc{bottom:189.976379px;}
.y59{bottom:191.657867px;}
.y15{bottom:195.896378px;}
.y3a{bottom:196.522217px;}
.y46{bottom:198.988525px;}
.y51{bottom:199.296387px;}
.y63{bottom:202.640000px;}
.y58{bottom:213.257874px;}
.y74{bottom:217.781976px;}
.y39{bottom:218.122223px;}
.y64{bottom:220.640000px;}
.y50{bottom:225.216385px;}
.yb{bottom:225.896378px;}
.y23{bottom:226.562111px;}
.y14{bottom:231.816376px;}
.y45{bottom:234.908524px;}
.y65{bottom:237.640000px;}
.y38{bottom:239.722229px;}
.y32{bottom:242.415131px;}
.y57{bottom:244.857880px;}
.y22{bottom:248.162109px;}
.ya{bottom:251.816376px;}
.y66{bottom:254.640000px;}
.y44{bottom:260.828522px;}
.y4f{bottom:261.136383px;}
.y56{bottom:266.457870px;}
.y37{bottom:267.230698px;}
.y13{bottom:267.736374px;}
.y31{bottom:268.335129px;}
.y21{bottom:269.762108px;}
.y1{bottom:269.808533px;}
.y67{bottom:272.640000px;}
.y4e{bottom:287.056381px;}
.y9{bottom:287.736374px;}
.y55{bottom:288.057869px;}
.y68{bottom:289.640000px;}
.y36{bottom:293.150696px;}
.y30{bottom:294.255127px;}
.y43{bottom:296.748520px;}
.y12{bottom:303.656372px;}
.y69{bottom:306.640000px;}
.y20{bottom:309.034851px;}
.y8{bottom:313.656372px;}
.y35{bottom:319.070694px;}
.y54{bottom:319.657867px;}
.y2f{bottom:320.175125px;}
.y4d{bottom:322.067909px;}
.y42{bottom:322.668518px;}
.y6a{bottom:324.640000px;}
.y1f{bottom:330.634850px;}
.y11{bottom:339.576378px;}
.y34{bottom:344.990700px;}
.y41{bottom:348.588516px;}
.y7{bottom:349.576378px;}
.y53{bottom:351.257866px;}
.y1e{bottom:352.234848px;}
.y2e{bottom:356.095123px;}
.y33{bottom:370.910702px;}
.y52{bottom:372.857864px;}
.y1d{bottom:373.834847px;}
.y6{bottom:375.496380px;}
.y2d{bottom:382.015121px;}
.y5e{bottom:382.696381px;}
.y40{bottom:384.508522px;}
.y1c{bottom:395.434845px;}
.y2c{bottom:407.935127px;}
.y3f{bottom:410.428524px;}
.y1b{bottom:417.034843px;}
.y3e{bottom:431.837948px;}
.y2b{bottom:433.855129px;}
.y5{bottom:441.832626px;}
.y1a{bottom:454.077595px;}
.hf{height:28.710938px;}
.h3{height:29.140625px;}
.h11{height:40.796875px;}
.hd{height:43.312500px;}
.h8{height:51.679688px;}
.h9{height:52.277344px;}
.hc{height:54.687500px;}
.hb{height:57.421875px;}
.ha{height:59.738281px;}
.he{height:65.625000px;}
.h6{height:68.906250px;}
.h7{height:69.703125px;}
.h5{height:71.394531px;}
.h2{height:104.906250px;}
.h4{height:128.218750px;}
.h10{height:146.000000px;}
.h1{height:157.359375px;}
.h0{height:540.000000px;}
.w1{width:48.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1d{left:13.000000px;}
.x6{left:33.566223px;}
.x5{left:48.064880px;}
.x7{left:51.566223px;}
.x4{left:67.524330px;}
.x13{left:69.566223px;}
.x1b{left:101.625000px;}
.x1a{left:106.750000px;}
.x19{left:111.875000px;}
.x18{left:169.250000px;}
.x2{left:311.627655px;}
.x1e{left:349.500000px;}
.x1{left:393.000046px;}
.x1f{left:405.805298px;}
.x1c{left:407.000000px;}
.x3{left:577.627655px;}
.x16{left:590.316223px;}
.x17{left:603.691223px;}
.xd{left:710.810303px;}
.xe{left:728.810303px;}
.xb{left:730.472717px;}
.x14{left:733.568542px;}
.x11{left:737.837036px;}
.xf{left:746.810303px;}
.xc{left:748.472717px;}
.x15{left:751.568542px;}
.x8{left:753.381836px;}
.x12{left:755.837036px;}
.x9{left:758.517395px;}
.xa{left:762.948120px;}
.x10{left:764.810303px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-1.456000pt;}
._1{width:2.485333pt;}
._4{width:4.597333pt;}
._0{width:50.266667pt;}
._3{width:57.733333pt;}
._5{width:527.173333pt;}
.fs2{font-size:53.333333pt;}
.fsa{font-size:74.666667pt;}
.fs9{font-size:84.480001pt;}
.fs6{font-size:96.000000pt;}
.fs8{font-size:106.666667pt;}
.fs7{font-size:109.333333pt;}
.fs5{font-size:128.000000pt;}
.fs4{font-size:130.666667pt;}
.fs1{font-size:192.000000pt;}
.fs3{font-size:234.666667pt;}
.fs0{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y73{bottom:8.658021pt;}
.y4c{bottom:31.291280pt;}
.y72{bottom:32.991355pt;}
.y4{bottom:42.421928pt;}
.y2a{bottom:52.406026pt;}
.y71{bottom:57.324688pt;}
.y19{bottom:69.621785pt;}
.y4b{bottom:79.184631pt;}
.y29{bottom:81.206024pt;}
.y70{bottom:81.658021pt;}
.y3{bottom:85.030965pt;}
.y10{bottom:88.395142pt;}
.y6f{bottom:105.991355pt;}
.y28{bottom:110.006022pt;}
.y5d{bottom:113.677165pt;}
.y4a{bottom:113.744649pt;}
.y18{bottom:117.515137pt;}
.yf{bottom:122.955160pt;}
.y6e{bottom:130.324688pt;}
.y27{bottom:138.806020pt;}
.y5c{bottom:142.477132pt;}
.y2{bottom:142.630966pt;}
.y49{bottom:148.304667pt;}
.y6d{bottom:154.658021pt;}
.y17{bottom:165.408488pt;}
.ye{bottom:170.848511pt;}
.y3d{bottom:175.629578pt;}
.y6c{bottom:178.991355pt;}
.y5f{bottom:182.053326pt;}
.y5b{bottom:184.610474pt;}
.y26{bottom:186.899465pt;}
.y48{bottom:196.198018pt;}
.y60{bottom:200.853334pt;}
.y3c{bottom:204.429606pt;}
.yd{bottom:205.408508pt;}
.y16{bottom:213.301839pt;}
.y6b{bottom:213.333333pt;}
.y25{bottom:215.699463pt;}
.y61{bottom:224.853334pt;}
.y5a{bottom:226.743815pt;}
.y47{bottom:230.758036pt;}
.y3b{bottom:233.229614pt;}
.y24{bottom:244.499461pt;}
.y62{bottom:247.520000pt;}
.yc{bottom:253.301839pt;}
.y59{bottom:255.543823pt;}
.y15{bottom:261.195170pt;}
.y3a{bottom:262.029622pt;}
.y46{bottom:265.318034pt;}
.y51{bottom:265.728516pt;}
.y63{bottom:270.186667pt;}
.y58{bottom:284.343831pt;}
.y74{bottom:290.375968pt;}
.y39{bottom:290.829631pt;}
.y64{bottom:294.186667pt;}
.y50{bottom:300.288513pt;}
.yb{bottom:301.195170pt;}
.y23{bottom:302.082815pt;}
.y14{bottom:309.088501pt;}
.y45{bottom:313.211365pt;}
.y65{bottom:316.853334pt;}
.y38{bottom:319.629639pt;}
.y32{bottom:323.220174pt;}
.y57{bottom:326.477173pt;}
.y22{bottom:330.882812pt;}
.ya{bottom:335.755168pt;}
.y66{bottom:339.520000pt;}
.y44{bottom:347.771362pt;}
.y4f{bottom:348.181844pt;}
.y56{bottom:355.277161pt;}
.y37{bottom:356.307597pt;}
.y13{bottom:356.981832pt;}
.y31{bottom:357.780172pt;}
.y21{bottom:359.682810pt;}
.y1{bottom:359.744710pt;}
.y67{bottom:363.520000pt;}
.y4e{bottom:382.741842pt;}
.y9{bottom:383.648499pt;}
.y55{bottom:384.077159pt;}
.y68{bottom:386.186667pt;}
.y36{bottom:390.867594pt;}
.y30{bottom:392.340169pt;}
.y43{bottom:395.664693pt;}
.y12{bottom:404.875163pt;}
.y69{bottom:408.853334pt;}
.y20{bottom:412.046468pt;}
.y8{bottom:418.208496pt;}
.y35{bottom:425.427592pt;}
.y54{bottom:426.210490pt;}
.y2f{bottom:426.900167pt;}
.y4d{bottom:429.423879pt;}
.y42{bottom:430.224691pt;}
.y6a{bottom:432.853334pt;}
.y1f{bottom:440.846466pt;}
.y11{bottom:452.768504pt;}
.y34{bottom:459.987600pt;}
.y41{bottom:464.784688pt;}
.y7{bottom:466.101837pt;}
.y53{bottom:468.343821pt;}
.y1e{bottom:469.646464pt;}
.y2e{bottom:474.793498pt;}
.y33{bottom:494.547602pt;}
.y52{bottom:497.143819pt;}
.y1d{bottom:498.446462pt;}
.y6{bottom:500.661840pt;}
.y2d{bottom:509.353495pt;}
.y5e{bottom:510.261841pt;}
.y40{bottom:512.678029pt;}
.y1c{bottom:527.246460pt;}
.y2c{bottom:543.913503pt;}
.y3f{bottom:547.238032pt;}
.y1b{bottom:556.046458pt;}
.y3e{bottom:575.783930pt;}
.y2b{bottom:578.473506pt;}
.y5{bottom:589.110168pt;}
.y1a{bottom:605.436793pt;}
.hf{height:38.281250pt;}
.h3{height:38.854167pt;}
.h11{height:54.395833pt;}
.hd{height:57.750001pt;}
.h8{height:68.906250pt;}
.h9{height:69.703125pt;}
.hc{height:72.916667pt;}
.hb{height:76.562500pt;}
.ha{height:79.651042pt;}
.he{height:87.500000pt;}
.h6{height:91.875000pt;}
.h7{height:92.937500pt;}
.h5{height:95.192708pt;}
.h2{height:139.875000pt;}
.h4{height:170.958333pt;}
.h10{height:194.666667pt;}
.h1{height:209.812500pt;}
.h0{height:720.000000pt;}
.w1{width:64.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1d{left:17.333333pt;}
.x6{left:44.754964pt;}
.x5{left:64.086507pt;}
.x7{left:68.754964pt;}
.x4{left:90.032440pt;}
.x13{left:92.754964pt;}
.x1b{left:135.500000pt;}
.x1a{left:142.333333pt;}
.x19{left:149.166667pt;}
.x18{left:225.666667pt;}
.x2{left:415.503540pt;}
.x1e{left:466.000000pt;}
.x1{left:524.000061pt;}
.x1f{left:541.073730pt;}
.x1c{left:542.666667pt;}
.x3{left:770.170207pt;}
.x16{left:787.088298pt;}
.x17{left:804.921631pt;}
.xd{left:947.747070pt;}
.xe{left:971.747070pt;}
.xb{left:973.963623pt;}
.x14{left:978.091390pt;}
.x11{left:983.782715pt;}
.xf{left:995.747070pt;}
.xc{left:997.963623pt;}
.x15{left:1002.091390pt;}
.x8{left:1004.509115pt;}
.x12{left:1007.782715pt;}
.x9{left:1011.356527pt;}
.xa{left:1017.264160pt;}
.x10{left:1019.747070pt;}
}
