
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="button" value="Submit" id="btnsubmit" onclick="save();"/>

<script  type="text/javascript">

    function save() {

        alert('Test');
        
    }

</script>
